html { height: 100%; }
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    background-image: linear-gradient(to top, rgba(29, 32, 35, 0.8), rgba(234, 141, 1, 0.6)), url("../images/storage-boxes-fotolia.jpg");
}

.title {
    display: flex;
    align-items: center;
} 

.title svg {
    margin-right: 1rem;
    height: 27px;
    width: 33px;
    flex: none;
}

main { flex: 1 0 auto; }

#logo {
    height: 40px;
    margin-right: 15px;
}

.logo h2 {
    color: #1d2023;
    font-weight: 500;
}

footer {
    flex: 0 0 auto;
    background: #1d2023;
}

footer h5 {
	padding-left: 10px;
    border-left: 3px solid #ea8d01;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ea8d01;
}

footer a:hover{
    color: #ea8d01;
    text-decoration: none;
}

header,
footer p,
footer a {
    color: #ffffff;
}

.track-name {
    padding: 0;
    color: #2c2c2c;
    display: block;
    width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gray { color: #aaa; }

.tracking-detail {
    padding: 3rem 0
   }
   #tracking {
    margin-top:3rem;
    margin-bottom:3rem
   }
   [class*=tracking-status-] p {
    margin:0;
    font-size:1.1rem;
    color:#fff;
    text-transform:uppercase;
    text-align:center
   }
   [class*=tracking-status-] {
    padding:1.6rem 0
   }
   .tracking-status-outfordelivery {
    background-color:#f5a551
   }
   .tracking-status-deliveryoffice {
    background-color:#f7dc6f
   }
   .tracking-status-delivered {
    background-color:#4cbb87
   }
   .tracking-status-expired {
    background-color:#616e7d
   }
   .tracking-status-pending {
    background-color:#ccc
   }
   .tracking-list {
    border:1px solid #e5e5e5
   }
   .tracking-item {
    border-left: 1px solid #e5e5e5;
    position: relative;
    padding: 2rem 1.5rem .5rem 2.5rem;
    font-size: .9rem;
    margin-left: 3rem;
    min-height: 5rem
   }
   .tracking-item:last-child {
    padding-bottom: 4rem
   }
   .tracking-item .tracking-date {
    margin-bottom: .5rem
   }
   .tracking-item .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: .4rem
   }
   .tracking-item .tracking-content {
    padding:.5rem .8rem;
    background-color:#f4f4f4;
    border-radius:.5rem
   }
   .tracking-item .tracking-content span {
    display:block;
    color:#888;
    font-size:85%
   }
   .tracking-item .tracking-icon {
    line-height:2.6rem;
    position:absolute;
    left:-1.3rem;
    width:2.6rem;
    height:2.6rem;
    text-align:center;
    border-radius:50%;
    font-size:1.1rem;
    background-color:#fff;
    color:#fff
   }
   .tracking-item .tracking-icon.status-delivered {
    background-color:#4cbb87
   }
   .tracking-item .tracking-icon.status-outfordelivery {
    background-color:#f5a551
   }
   .tracking-item .tracking-icon.status-deliveryoffice {
    background-color:#f7dc6f
   }
    .tracking-item {
     margin-left:10rem
    }
    .tracking-item .tracking-date {
     position:absolute;
     left:-10rem;
     width:7.5rem;
     text-align:right
    }
    .tracking-item .tracking-date span {
     display:block
    }
    .tracking-item .tracking-content {
     padding:0;
     background-color:transparent
    }

/* Кружочки на таймлайне */
div.tracking-item > p {
    margin: 20px 0;
    padding-left: 20px;
}
div.tracking-item > p:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ea8d01;
    left: -1.3rem;
    width: 40px;
    height: 40px;
    z-index: 400;
}

#services img {
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}

#error img {
    height: 250px;
}

.loader {
    height: 80px;
}